/* Container for the entire chat window */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



.submit-message{
  width: 80%;
  display: flexbox;
  position: relative;
  display: inline-block;
}

/* Scrollable container */
.scrollable-container {
  overflow-y: auto;
  width: 60%;
  max-height: 600px; /* Adjust based on your preference */
  overflow-y: auto;
  border: 1px solid #ccc;
  font-size: larger;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Style for messages */
.scrollable-container div {
  margin-bottom: 10px;
}

.scrollable-container p {
  margin: 0;
  margin-left: 0;
  padding: 5px;
  background-color: #1b0505;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Input and button styling */
input[type="text"] {
  width: 70%;
  padding: 8px;
  margin-right: 10px;
  box-sizing: border-box;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}
